<h1>Page new </h1>


<html>
  <body>
  <% flash.each do |type, msg| %>
    <div class="alert alert-danger" role="alert">
      <%= msg %>
    </div>
  <% end %>
  
    <!-- ... -->
    <div id= "form">
    <%= form_tag gossips_path(action: 'create'), method: "post" do %>

      <p class="label"><%= label_tag 'Title :' %></p>
      <p class="box"><%= text_field_tag 'title', params["title"] %></p>
      <br /> <br />

      <p class="label"><%= label_tag 'Content :' %></p>
      <%= text_area_tag 'content', params["content"] %>
      <br /> <br />


      <%= submit_tag "Create Gossip" %>
      
    <% end %>
    </div>
    <!-- ... -->

  </body>
 
</html>


