<h1>Page User </h1>
<p>Bienvenue sur le profil du User No<%= params[:id] %> !! <br> Check ses infos :</p>

<p>
  Son ptit prénom : <%= User.find(params[:id]).name %><br/>
  Son petit nom :  <%= User.find(params[:id]).first_name %><br/>
  Son age :  <%= User.find(params[:id]).age %> ans<br/>
  Et son petit mail : <%= User.find(params[:id]).email %><br/>
  </p>

<p>Voilà, <a href="/home/">bisou</a> !</p>